.green,
.red {
    transition: background-color 0.1s linear;
}

.green:hover,
.red:hover {
    opacity: 0.8;
}

.green:hover {
    background-color: #28a745;
}

.red:hover {
    background-color: #dc3545;
}
