.leaderboard-wrapper {
    padding: 8px;
    border-right: 2px solid var(--border-color);
}
h2 {
    width: 143px;
}

table {
    max-width: 143px;
}

th:nth-child(1) {
    padding-inline-end: 6px;
}
