.board-wrapper {
    /* position: absolute; */
    /* inset: 107px 25px 25px 25px; */
    border: 2px solid #ffffff41;
    background-color: #1a1a1a;
    flex: 1;
    position: relative;
}

.game-wrapper {
    position: absolute;
    inset: 0 0 0 0;
}
