.board-wrapper {
    border: 2px solid var(--border-color);
    background-color: var(--dark-grey);
    flex: 1;
    position: relative;
    margin: 16px;
}

.game-wrapper {
    position: absolute;
    inset: 0 0 0 0;
}

.you-lost-title {
    text-align: center;
    color: #dc3545;
}
